# Quality Report
Use this file to outline the test strategy for this package.

## QA Owner: [*Add Name*]
## UX Owner: [*Add Name*]

## Test strategy
*Use this section to describe how this feature was tested.*
* A link to the Test Plan: 


## Package Status
Use this section to describe:
* UX status/evaluation results
* package stability
* known bugs, issues
* performance metrics,
* etc


